VITE_APPWRITE_ENDPOINT=http://localhost/v1
VITE_APPWRITE_PROJECT_ID=tvoje_project_id_z_konzole

# Tuhle proměnnou potřebuje jen NodeJS skript, ne React (proto nemá VITE_ prefix):
APPWRITE_API_KEY=tvuj_tajny_api_klic_pro_server
